.fadeSlider {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://drive.google.com/file/d/1QUpIbPcX5khrE4CDu3_WUvMnAORnhtmz/view?usp=sharing), url(https://drive.google.com/file/d/1QUpIbPcX5khrE4CDu3_WUvMnAORnhtmz/view?usp=sharing), url(https://drive.google.com/file/d/1QUpIbPcX5khrE4CDu3_WUvMnAORnhtmz/view?usp=sharing);
  animation: fadeSlideImg 15s ease-out infinite;
  animation-delay: 5s;
}

@keyframes fadeSlideImg {
  0% { background-image: url(https://drive.google.com/file/d/1QUpIbPcX5khrE4CDu3_WUvMnAORnhtmz/view?usp=sharing); }
  33% { background-image: url(https://drive.google.com/file/d/1QUpIbPcX5khrE4CDu3_WUvMnAORnhtmz/view?usp=sharing); }
  66% { background-image: url(https://drive.google.com/file/d/1QUpIbPcX5khrE4CDu3_WUvMnAORnhtmz/view?usp=sharing); }
  100% { background-image: url(https://drive.google.com/file/d/1QUpIbPcX5khrE4CDu3_WUvMnAORnhtmz/view?usp=sharing); }
}
