.fadeSlider {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/imagefile/IMG_4955.jpeg), url(/imagefile/IMG_2669.jpg), url(/imagefile/IMG_3909.jpg);
  animation: fadeSlideImg 15s ease-out infinite;
  animation-delay: 15s;
}

@keyframes fadeSlideImg {
  0% { background-image: url(/imagefile/IMG_4955.jpeg); }
  33% { background-image: url(/imagefile/IMG_2669.jpg); }
  66% { background-image: url(/imagefile/IMG_3909.jpg); }
  100% { background-image: url(/imagefile/IMG_4955.jpeg); }
}

body {
　　background-color: black;
　　color: white;
}
