<style type="text/css">
body {
    animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
  /*600px以上で適用する内容*/
  /* --- 全体のBOX定義 ---------------------------------------- */
  .box {
    position   : relative;
    max-width  : 300px;
    height     : 250px;
    margin     : auto;
    overflow   : hidden;
  }
  /* --- 背景の指定 ------------------------------------------- */
  .box .bgImg {
       background-position: center center;
       background-repeat: no-repeat;
       background-size: cover;
    position   :  fixed;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime 40s infinite;   /* 4画像 × 各10s = 40s */
  }
  /* --- 段差で背景画像のアニメーションを実行 ----------------- */
  .box .src1 {
    background-image : url(img/1.png);   /* 背景の画像を指定 */
  }
  .box .src2 {
    background-image : url(img/2.png);   /* 背景の画像を指定 */
    animation-delay  : 10s;
  }
  .box .src3 {
    background-image : url(img/3.png);   /* 背景の画像を指定 */
    animation-delay  : 20s;
  }
  .box .src4 {
    background-image : url(img/4.png);   /* 背景の画像を指定 */
    animation-delay  : 30s;
  }
  @keyframes bgAnime {
     0% { opacity: 0; }
     10% { opacity: 1; }
    25% { opacity: 1; }
    35% { opacity: 0; }
   100% { opacity: 0; }
  }
  @font-face {
      font-family: 'GH_7SEGLight';
      src: url('fonts/GH_7SEGLight.eot');
      src: url('fonts/GH_7SEGLight.eot?')  format('embedded-opentype'),
           url('fonts/GH_7SEGLight.woff2') format('woff2'),
           url('fonts/GH_7SEGLight.woff')  format('woff'),
           url('fonts/GH_7SEGLight.ttf')   format('truetype'),
           url('fonts/GH_7SEGLight.svg#GH_7SEGLight') format('svg');
  }

  @font-face {
  font-family : Helvetica; src: url('fonts/Helvetica.ttc') format("truetype");
  }
body{
   font-family: "Helvetica";
}



  /* --- 前面の文字定義（サンプルのため変更してください） ----- */
  .box .boxString{
    position   : fixed;
    display    : inline-block;

    color      : #fda736;
    top        : 90%;                               /* 中央寄せ */
    right     : 35px;
    transform  : translate(-50%,-50%);
    z-index    : 11;
    font-family: "GH_7SEGLight";
    font-size :30px;
  }
  p.ff_fredoka {
  font-family: 'Miriam Libre', sans-serif;
  }
  .title{
    position   : fixed;
    display    : inline-block;
    color      : black;
    top        : 55%;
    left       : 20px;                             /* 中央寄せ */
    z-index    : 11;
    font-size :110px;
      transform  : translate(0%,-50%);
      color:#282828
  }

  a{
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  a::after {
    position: absolute;
    bottom: 138px;
    left: 0;
    content: '';
    width: 100%;
    height: 5px;
    background: #282828;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  a:link { color:#282828; text-decoration:none }
  a:visited { color:#282828; text-decoration:none }
  a:hover { color:#282828; text-decoration:none }
  a:active { color:#282828; text-decoration:none }


  a{
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  a::after {
    position: absolute;
  bottom: 12px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #282828;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  a:link { color:#282828; text-decoration:none }
  a:visited { color:#282828; text-decoration:none }
  a:hover { color:#282828; text-decoration:none }
  a:active { color:#282828; text-decoration:none }



.menu{
  position   : fixed;
  display    : inline-block;
  color      : black;
  top        : 3%;
  right       : -160px;                             /* 中央寄せ */
  z-index    : 11;
  font-size :21px;
    transform  : translate(-50%,-50%);

}
 .menu{
  line-height: 0.2;
}
</style>
