<style type="text/css">
  @font-face {
  font-family : Helvetica; src: url('fonts/Helvetica.ttc') format("truetype");
  }
  body{
     font-family: "Helvetica";
    overflow-x: hidden;
    position: relative;
    color: #39383e;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #39383e; /* ライン */
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
  a:link { color:#39383e; text-decoration:none }
  a:visited { color:#39383e; text-decoration:none }
  a:hover { color:#39383e; text-decoration:none }
  a:active { color:#39383e; text-decoration:none }

.header{
  height: 30px;
}

.menu{
  position   : fixed;
  display    : inline-block;
  color      : #39383e;
  top        : 18px;
  right       : 18px;                             /* 中央寄せ */
  z-index    : 11;
  font-size :31px;
  line-height: 0.3;
}

.tyuuou{
  text-align:center;
  color: #de7f51
}

.box{
  position   : fixed;
    display    : inline-block;
  top        : -55px;
  left       : 8px;
    z-index    : 10;
    width: auto;
 color: #fff;
 font-size: 60px;
 line-height: 0.1
  letter-spacing: -1px;
 font-family: "Helvetica";
 text-shadow: 1px 1px #222,
               2px 2px #222,
               3px 3px #222,
               4px 4px #222,
               5px 5px #222,
               6px 6px #222,
               7px 7px #222,
               8px 8px #222,
               9px 9px #222,
               10px 10px #222;
  }

.box1{
  text-align: center;
}

.box2{
  text-align:center
  display: block;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
 justify-content: center;
 align-items: center;
 height: 250px;
   letter-spacing: 10px;
   font-size: 42px;
}

.p1 {
  display: block;
}

.box3{
  border-width: 3px 3px 0px 3px;
  height: 20px;
  border-style: solid;
  width: 97%;
margin: 10px auto
}

.box04{
  text-align: center;
  height: auto;
  margin: auto;
}

 /* syasin*/
#gallery {
  columns: 450px;
  column-gap: 10px;
  margin: 50px;
}

#gallery img {
width: 108%;
  height: auto;
  padding: 0px;   /* 写真外枠を白フチに */
  background-color: #fff;
  margin-bottom: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

/* コメントを画像に重ねる CSS */
.org p {
  display: inline-block;
  width: 100%;
  position: relative;/* 画像位置を基準に */
  line-height: 1;
}
 /* 写真のなまえ付けれれる*/
.name {
  position: absolute;
  top: 0.8em;       /* テキストの始点 */
  left: 0.8em;
  color: transparent;
  font-weight: bold;
  z-index: 1;/* position: absolute 指定なので */
}
 /* syasin*/

.box5{
  border-width: 0px 3px 3px 3px;
  border-style: solid;
  width: 97%;
  height: 20px;
  margin: 10px auto
}

.boxf{
height: 50px;
}

.hidden_box{
display:inline-block;
margin:0;
padding:0;
border: solid 1px black;
}
/*ボタン装飾*/
.hidden_box label{
display:inline-block;
padding: 15px;
font-weight: bold;
cursor :pointer;
}
/*ボタンホバー時*/
.hidden_box label:hover{background: #c4dcf3;}
/*チェックは見えなくする*/
.hidden_box input{display: none;}
/*中身を非表示にしておく*/
.hidden_box .hidden_show{
height: 0;
padding: 0;
overflow: hidden;
opacity: 0;
transition: 0.5s;
}
/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show{
padding: 10px 0;
height: auto;
opacity: 1;
}

.boxCAM{
  margin: auto;
  text-align: left;
  width: 200px;
}

.example {
  float: left;
}
</style>
